:root {
    --registr-margin: 20px;
    --border-color: brown;
    --background-color: blueviolet;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    animation: color 10s;
    animation-iteration-count: 4;
  }

  @keyframes color {
    0%{
    background-color: white;
    }

    10%{
background-color: rgb(183, 222, 224);
    }

    50%{
      background-color: cadetblue;
    }

    60%{
      background-color: rgb(55, 115, 117);
    }

    90%{
      background-color: cadetblue;
    }

    100%{
    background-color: white;
    }
  }
  
  button {
    background: rgb(35, 73, 126);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.7s;
    margin: 20px;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  
  button:hover {
    background: rgb(89, 5, 126);
    transform: scale(1.15);
  }
  
  input {
    display: block;
    margin: 10px 0 10px 0;
    transition: 0.5s ease-in-out;
  }

  input:focus {
    background: blueviolet;
    opacity: 0.4;
  }
  
  .registr {
    border: 3px solid var(--border-color);
    margin: var(--registr-margin);
    display: flex;
    flex-direction: column;
  }
  
  .registr-text {
    background-color: green;
    color: black;
    }
    
    .registr-text-message {
    font-size: 8px;
    color: red;
    }
    
  
  .registr-title,
  .registr-text-message {
    background-color: black;
  }
  
  .registr-title {
    color: yellow;
  }
  
  .registr-block{
    border: 3px solid var(--border-color);
    transition: 0.5s ease-in-out;
  }

  .registr-block:hover {
    transform: scale(1.10);
  }

  
  header {
    background-color: antiquewhite;
    height: 50px;
    z-index: -2;
  }
  
  .avatar {
    background-color: blue;
    width: 50px;
    height: 100%;
    z-index: -2;
  }

  .cat {
    width: 8%;
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: run 10s;
    animation-iteration-count: infinite;
  }

  @keyframes run{
    0%{
    bottom: 0;
    left: 0;
    }

    5%{
      transform: rotate(270deg);
    }

    25%{
    bottom: 100%;
    left: 0%;
    transform: rotate(270deg);
    }

    30%{
      transform: rotate(360deg);
    }

    50%{
    bottom: 100%;
    left: 100%;
    transform: translate(-100%, -100%) rotate(360deg);
    }

    55%{
      transform: translate(-100%, -100%) rotate(180deg);
    }

    75%{
    bottom: 0%;
    left: 100%;
    transform: translate(-100%, 0) rotate(180deg);
    }
    
    80%{
    bottom: 0%;
    left: 100%;
    transform: translate(-100%, 0) rotate(360deg);
    }

    100%{
    bottom: 0;
    left: 0;
    transform: rotate(360deg);
    }
  }
  
  
  @media only screen and (min-width: 540px) {
    body{
      font-size: 24px;
    }
  
    header {
      height: 80px;
    }
    
    .avatar {
      width: 80px;
    }

    .registr-block{
      border: 5px solid orangered;
    }
  
    .registr-title {
      color: wheat;
    }

    button {
      width: 20%;
    }

  }
  
  @media only screen and (min-width: 1240px) {
    
    body{
      font-size: 32px;
    }
  
    header {
      height: 160px;
    }
    
    .avatar {
      width: 160px;
    }
  
    .registr {
      flex-direction: row;
    }

    .registr-block{
      border: 8px solid rebeccapurple;
    }

    .registr-title {
      color: red;
    }

        button {
      width: 20%;
    }
  
  }
  